main {
    max-width: 1200px;
    overflow: hidden;
    margin: 40px auto;
}
main > header {
    display: flex;
}
main > header > nav {
    margin-left: auto;
}
main > header > nav > ul li {
display: inline;
margin-right: 20px;
}

.form-control {
    margin-bottom: 20px
}

.form-control input,
.form-control textarea {
    box-sizing: border-box;
    width: 100%;
}

.form-control textarea {
    resize: vertical;
    font-family: sans-serif;
    min-height: 100px;
}

.about-page {
    display: flex;
}

.about-page article {
    width: 50%;
}
.about-page aside {
    width: 50%;
}

.about-page aside img {
    max-width: 100%;
    height: auto;
}